<!-- web view of nav -->
<nav class="#8bc34a light-green" style="padding: 0px 20px;" role="navigation">
  <div class="nav-wrapper container">
      <i style="padding: 0px 20px;" class="fas fa-leaf"></i>
      <a id="logo-container" href="#" class="brand-logo">eco alternative</a>
        <ul class="right hide-on-med-and-down nav-items">
          <li><a href="#about">About Us</a></li>
          <li><a href="#categories">Categories</a></li>
          <li><a href="#add">Add Product</a></li>
        </ul>

    <!-- mobile view of nav -->
      <ul class="sidenav" id="nav-mobile">
        <li><a href="#about">About Us</a></li>
        <li><a href="#categories">Categories</a></li>
        <li><a href="#add">Add Product</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="container center">
  <h4>About Us</h4>
</div>

<div class="container center">
  <p>We are students of the University of Washington's Programming Bootcamp. We're passionate about creating a community space to share and learn ideas around how knowledgeable select eco-friendly alternatives to common household products. More and more, we are seeing difficult reminders about the effect of disposable plastic on our environment. We hope this space will be a small step towards a cleaner, brighter and happier future for generations to come.</p>
</div>

<br>
<br>

<div class="container center">
  <div class="row">
    <div class="col s3"><i class="fas fa-user-ninja fa-2x"></i><br>Kelsey Beffel</div>
    <div class="col s3"><i class="fas fa-user-ninja fa-2x"></i><br>Andrew Rice</div>
    <div class="col s3"><i class="fas fa-user-ninja fa-2x"></i><br>Shannon Line</div>
    <div class="col s3"><i class="fas fa-user-ninja fa-2x"></i><br>Tammy Lee</div>
  </div>
</div>