<main>
    <div class="container">
        <div class="row">
            <div class="col s12 z-depth-5 mainpanel">
                <div id="mainpanel-content">
                    <h1>Add Your Product</h1>
                    <div class="divider"></div>



                    <div class="form-group">
                        <h5>Product Name (Required)</h5>
                        <input class="form-control" type="text" placeholder="Product Name Here" id="productOption_name">
                    </div>

                    <div class="form-group">
                        <h5>Link to Photo Image (Required)</h5>
                        <input class="form-control" type="text" placeholder="Photo Link Here" id="image">
                    </div>

                    <div class="form-group">
                        <h5>Purchase Link (Required)</h5>
                        <input class="form-control" type="text" placeholder="Purchase Link Here" id="external_link">
                    </div>

                    <div class="form-group">
                        <h5>Blog Link (Required)</h5>
                        <input class="form-control" type="text" placeholder="Blog Link Here" id="source">
                    </div>

                    <div class="form-group">
                        <h5>Price (Required)</h5>
                        <input class="form-control" type="text" placeholder="Price" id="price">
                    </div>



                    <div class="form-group">
                        <h5>Product Category</h5>
                        <select id="product_Id">
                            <option disabled selected>Choose your option</option>
                            <option value="1">Beauty and Personal Care</option>
                            <option value="2">Bed and Bedding</option>
                            <option value="3">Bath and Spa</option>
                            <option value="4">Cleaning</option>
                            <option value="5">Baby and Kids</option>
                            <option value="6">Home Improvement</option>
                            <option value="7">Kitchen and Storage</option>
                            <option value="8">Yard and Garden</option>
                            <option value="9">Pet Supplies</option>
                            <option value="10">Travel and Recreation</option>
                            <option value="11">Electronics</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <h5>Product Type</h5>
                        <select id="product_name">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="Moisturizer">Moisturizer</option>
                            <option value="Facial Oil">Facial Oil</option>
                            <option value="Shampoo">Shampoo</option>
                            <option value="Sheets">Sheets</option>
                            <option value="Mattress">Mattress</option>
                            <option value="Comforter">Comforter</option>
                            <option value="Paper Products">Paper Products</option>
                            <option value="Towels">Towels</option>
                            <option value="Bath Essentials">Bath Essentials</option>
                            <option value="Dental Hygien">Dental Hygiene</option>
                            <option value="Chemicals">Chemicals</option>
                            <option value="Cleaning Supplies">Cleaning Supplies</option>
                            <option value="Bath & Potty">Bath & Potty</option>
                            <option value="Nursing">Nursing</option>
                            <option value="Bedding">Bedding & Décor</option>
                            <option value="Feeding">Feeding</option>
                            <option value="Pest Control">Pest Control</option>
                            <option value="Heating & Cooling">Heating & Cooling</option>
                            <option value="Emergency Supplies">Emergency Supplies</option>
                            <option value="Kitchen">Kitchen</option>
                            <option value="Storage">Storage</option>
                            <option value="Garden">Garden</option>
                            <option value="Yard">Yard</option>
                            <option value="Bedding">Bedding</option>
                            <option value="Bathing">Bathing</option>
                            <option value="Collar">Collar/Harness</option>
                            <option value="Hygiene">Hygiene</option>
                            <option value="Kitchen">Kitchen</option>
                            <option value="Fitness">Fitness</option>
                            <option value="Solar">Solar</option>
                            <option value="Home">Home</option>


                        </select>
                    </div>

                    <div class="form-group">

                        <h5>Environmentally Friendly</h5>
                        <select id="ingredients">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="TRUE">TRUE</option>
                            <option value="FALSE">FALSE</option>

                        </select>
                    </div>

                    <div class="form-group">

                        <h5>Plastic Free</h5>
                        <select id="plastic_free">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="TRUE">TRUE</option>
                            <option value="FALSE">FALSE</option>

                        </select>
                    </div>

                    <div class="form-group">

                        <h5>Reusable</h5>
                        <select id="reusable">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="TRUE">TRUE</option>
                            <option value="FALSE">FALSE</option>

                        </select>
                    </div>

                    <div class="form-group">

                        <h5>Stylish</h5>
                        <select id="stylish">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="TRUE">TRUE</option>
                            <option value="FALSE">FALSE</option>

                        </select>
                    </div>



                    <div class="form-group">
                        <h5>Fun Facts</h5>
                        <input class="form-control" type="text" placeholder="Type Here" id="fun_fact">
                    </div>

                    <div class="form-group">
                        <h5>Environmental Impact</h5>
                        <input class="form-control" type="text" placeholder="Type Here" id="environmental_impact">
                    </div>




                    <div>
                        <button class="btn waves-effect waves-light" type="submit" name="action"
                            id="submitButton">Create Product

                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>



<script type="text/javascript" src="./js/form.js"></script>