<div class="container center categories">
  {{!-- <h4>Categories</h4> --}}
  <div class="row center">
    {{#each categories}}
      <div class="col s4">
        <a href="/category/{{id}}">
        <h5>{{category_name}}</h5>
        <img src="{{icon}}" width="200px"/>
        </a>
      </div>    
    {{/each}}
  </div>
</div>
