<div class="container center categories">
  <h4>Categories</h4>
</div>

{{!-- <div class="container categories">
  <div class="row center">
    <div class="col s4"><h6>beauty & personal care</h6><i class="fas fa-spa fa-3x"></i></div>
    <div class="col s4"><h6>bed and bedding</h6><i class="fas fa-bed fa-3x"></i></div>
    <div class="col s4"><h6>bath & space</h6><i class="fas fa-shower fa-3x"></i></div>
  </div>
  <br>
  <div class="row center">
    <div class="col s4"><h6>cleaning</h6><img src="/assets/img/cleaning.jpg" alt="cleaning_supplies" height="45" width="45"></div>
    <div class="col s4"><h6>baby & kids</h6><i class="fas fa-baby-carriage fa-3x"></i></div>
    <div class="col s4"><h6>home improvement</h6><i class="fas fa-hammer fa-3x"></i></div>
  </div>
  <br>
  <div class="row center">
    <div class="col s4"><h6>kitchen & storage</h6><i class="fas fa-archive fa-3x"></i></div>
    <div class="col s4"><h6>yard & garden</h6><i class="fas fa-seedling fa-3x"></i></div>
    <div class="col s4"><h6>pet supplies</h6><i class="fas fa-paw fa-3x"></i></div>
  </div>
  <br>
  <div class="row center">
    <div class="col s6"><h6>travel & recreation</h6><i class="fas fa-glass-cheers fa-3x"></i></div>
    <div class="col s6"><h6>electronics</h6><i class="fas fa-tv fa-3x"></i></div>
  </div>
</div> --}}



<div class="container categories">
  <div class="row center">

{{#each categories}}
  <div class="col s4"><h5><a href="/category/{{id}}">{{category_name}}</a></h5></div>
     
{{/each}}
</div>
</div>
