<!-- web view of nav -->
<nav class="#8bc34a light-green" style="padding: 0px 20px;" role="navigation">
  <div class="nav-wrapper container">
    <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo">EcoAlternative</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#home">Home</a></li>
        <li><a href="#add">Add Product</a></li>
        <li><a href="#categories">Categories</a></li>
      </ul>

      <!-- mobile view of nav -->
      <ul class="sidenav" id="nav-mobile">
        <li><a href="#home">Home</a></li>
        <li><a href="../public/form.html">Add Product</a></li>
        <li><a href="#categories">Categories</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>



{{#each categories}}

<a href="/category/{{id}}">{{category_name}}</a>



{{/each}}