
  
<div class="container">
  <label>Browser Select</label>
      {{!-- <form class="login" action="/api/login" method="POST"> --}}

  <select class="browser-default" action="" method="">
    <option value="" disabled selected>Choose your option</option>
    {{#each products}}
         <option value="{{id}}"><a href="/product/{{id}}">{{product_name}}</a></option>
    {{/each}}
  </select>


  <div class="displayProductOptions" id="productOptionsParial">


  {{!-- {{> productOption/xproductOption}} --}}


  </div>

</div>

<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <h1>{{product.product_name}}</h1>
    <div class="body">
    </div>
  </div>
</script>



            








