{{!-- {{#each products}}

<a href="/product/{{id}}">{{product_name}}</a>

{{/each}} --}}

  
   <script type="text/javascript" src="/js/product.js"></script>         

<img src="/assets/images/001-beatuy_and_personal_care.png" />

  <label>Browser Select</label>
  <select id="#dropdown_change" class="browser-default">
    <option value="" disabled selected>Choose your option</option>
    {{#each products}}
         <option value="1"><a href="/product/{{id}}">{{product_name}}</a></option>
    {{/each}}
  </select>




  <li>{{> productOption/xproductOption}}</li>


            








